textarea {
	height: 200px;
}
.copy-icon {
	position: absolute;
	top: 3%;
	right: 1%;
	width: 20px;
	height: 20px;
}

.wrapper {
	position: relative;
}

.wrapper textarea {
	width: 100%;
	height: 200px;
}
